<div class="modal-content" style="min-height: 70%; padding: 10px; position: fixed; width: 70%;">
    <div class="modal-header">
        <button type="button" class="close" data-bind="command: cancelChangesCommand" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 data-bind="text: displayName"></h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="invitations" class="control-label" data-bind="text: language.getValue('invitations')"></label>
        <input id="invitations" type="text" class="form-control" data-role="tagsinput" data-bind="attr: { placeholder: language.getValue('emailListInputField_placeholder') }">
        <div class="bs-callout bs-callout-info" >
          <p data-bind="text: language.getValue('selectInfo')"></p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6" data-bind="validationElement: network">
          <label for="network" class="control-label" data-bind="text: language.getValue('network')"></label>
          <select id="network" class="selectpicker" data-bind="options: networks, optionsText: 'name', value: selectedNetwork, optionsCaption: language.getValue('selectpickerDefaultOption')"></select>
          <div class="mart1 bs-callout bs-callout-info">
            <p data-bind="text: language.getValue('selectNetworkInfo')"></p>
          </div>
        </div>
        <div class="form-group col-md-6" data-bind="validationElement: company">
          <label for="company" class="control-label" data-bind="text: language.getValue('company')"></label>
          <select id="company" class="selectpicker" data-bind="options: companies, optionsText: 'name', value: selectedCompany, optionsCaption: language.getValue('selectpickerDefaultOption')"></select>
          <div class="mart1 bs-callout bs-callout-info">
            <p data-bind="text: language.getValue('selectCompanyInfo')"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-bind="command: cancelChangesCommand, text: language.getValue('cancel'), activity: cancelChangesCommand.isExecuting" data-dismiss="modal"></button>
      <button type="submit" class="btn btn-primary" data-bind="command: saveChangesCommand, text: language.getValue('send'), activity: saveChangesCommand.isExecuting"></button>
    </div>
</div>