<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Breeze.Server.ContextProvider" version="1.4.16" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="EntityFramework.Extended" version="6.1.0.95" targetFramework="net451" />
  <package id="Faker.Net" version="1.0.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
</packages>